In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel("dataSet/cars-simple-reg.xlsx")
data.head()

   Registrovan  Cijena
0         2011   18300
1         2004    9800
2         2001    1500
3         2008    3600
4         1995     650

In [3]:
from linearnaRegresija import SimpleLinearRegression

In [4]:
parsing = SimpleLinearRegression(data)
parsing.Fit()

0.0
0.0