In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress = True)

In [2]:
data = pd.read_excel("dataSet/testing.xlsx")
data.head()

   Sati studirao  Broj osvojenih bodova
0             17                     94
1             13                     73
2             12                     59
3             15                     80
4             16                     93

In [3]:
from linearnaRegresija import SimpleLinearRegression

In [4]:
parsing = SimpleLinearRegression(data)
parsing.Fit()

2.1705094128132942 11.576316819745005